.nftfrom > div:first-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nftfrom > div:first-child .modal__preview {
  width: 50%;
}

.nftfrom > div:first-child .modal__preview--wrapper {
  width: 50%;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nftfrom > div:first-child .label {
  width: 100%;
  display: flex;
}
.nftfrom > div:first-child .radio-selector label span {
  background-color: #757575;
  padding: 0.6em 3em;
  border: 1px solid #585858;
  transition: all 0.3s;
}
.nftfrom > div:first-child .radio-selector label input:checked + span {
  color: white;
  background-color: black;
}
.nftfrom .duration{
    width: 45%;
}
